<div class="row ">
  <div class="text-center mb-5">
      <img src="/assets/image/perfil.jpeg" alt="foto-do-perfil" class="foto-perfil">
  </div>

  <div class="text-center mb-5">
    <h2>Guilherme Matos</h2>
  </div>

  <div class="text-center col-md-12">

    <div class="social-icons">

      <div>
        <a class="social-icon" href="https://github.com/guiiihhmatos" target="_blank">
          <img src="/assets/image/github.svg" alt="" style="height: 2vh;">
        </a>

        <a class="social-icon" href="https://www.linkedin.com/in/guilherme-matos-santana/" target="_blank">
          <img src="/assets/image/linkedin.svg" alt="" style="height: 2vh;">
        </a>
      </div>


      <div>
        <a class="social-icon" href="https://www.linkedin.com/in/guilherme-matos-santana/" target="_blank">
          <img src="/assets/image/envelope.svg" alt="" style="height: 2vh;">
        </a>
        <a class="social-icon" href="https://www.instagram.com/guiihh_matos" target="_blank">
          <img src="/assets/image/instagram.svg" alt="" style="height: 2vh;">
        </a>
      </div>

    </div><!--Social icons-->
  </div>
</div><!--row-->
