<div class="main">

  <div class="container">
    <div class="container-left">

      <app-perfil class="mobile"></app-perfil>

        <div class="row justify-content-center">
          <div class="text-center col-md-12 mb-5 mt-5">
            <h2 class="title-sistemas">EXPERIÊNCIAS</h2>
          </div>

          <div class="text-center col-md-12 mt-5">
            <h4 class="estagio mb-5">Estagiário de Desenvolvimento de sistenas na Prefeitura</h4>
            <p class="conteudo">26/05/2022 - atualmente</p>
            <p class="conteudo">As atividades praticadas no estágio são desenvolvimento de projetos na parte do Front-end e Um pouco do
              Back-end, relatórios utilizando banco de dados, reunião com os setores nos quais estamos fazendo os sistemas e Criação de
              protótipos.
            </p>

            <h4 class="tecnologias">As tecnologias práticadas por mim no estágio</h4>
            <p class="conteudo">Linguagens de programação : Java, Javascript e PHP</p>
            <p class="conteudo">Banco de dados : MySQL</p>
            <p class="conteudo">Hiper textos e design: CSS e HTML</p>
            <p class="conteudo">Frameworks : Angular CLI, Spring e Bootstrap</p>


          </div><!--Paragrafo-->

        </div><!--Row-texto-->
    </div><!--Container-left-->

    <div class="container-right">

      <app-perfil></app-perfil>

    </div><!--Container-right-->

  </div><!--Container-->

</div>
