<div class="main">

  <div class="container">
    <div class="container-left">

      <app-perfil class="mobile"></app-perfil>

        <div class="row justify-content-center">
          <div class="text-center col-md-12 mb-5 mt-5">
            <h2 class="title-sistemas">PROJETOS</h2>
          </div>

          <div class="text-center col-md-6 ">
            <h4 class="estagio mb-5 mt-5">Projeto Concessionária</h4>
            <p class="conteudo">Desenvolvimento : Pessoal</p>
            <p class="conteudo">Onde encontro: GitHub</p>
            <p class="conteudo">Tecnologias utilizadas: C#, Javascript, HTML, CSS e SQLServer</p>
            <p class="conteudo">Frameworks utilizados: ASP Net Core e MVC</p>
          </div><!-- Projeto Concessionaria -->

          <div class="text-center col-md-6 ">
            <h4 class="estagio mb-5 mt-5">Projeto Portfólio</h4>
            <p class="conteudo">Desenvolvimento : Pessoal</p>
            <p class="conteudo">Onde encontro: GitHub e WWW</p>
            <p class="conteudo">Tecnologias utilizadas: HTML, CSS e Javascript</p>
            <p class="conteudo">Frameworks utilizados: Bootstrap e Angular CLI</p>
          </div><!-- Projeto Portfólio -->

          <div class="text-center col-md-6 ">
            <h4 class="estagio mb-5 mt-5">Projeto UBASA</h4>
            <p class="conteudo">Desenvolvimento : Equipe</p>
            <p class="conteudo">Onde encontro: GitHub e WWW (prefeitura)</p>
            <p class="conteudo">Tecnologias utilizadas: Javascript, Java, MySQL, HTML e CSS</p>
            <p class="conteudo">Frameworks utilizados: Bootstrap, Angular CLI e Spring</p>
          </div><!-- Projeto Ubasa -->

          <div class="text-center col-md-6 ">
            <h4 class="estagio mb-5 mt-5">Projeto Sistema Bancário</h4>
            <p class="conteudo">Desenvolvimento : Pessoal</p>
            <p class="conteudo">Onde encontro: GitHub</p>
            <p class="conteudo">Tecnologias utilizadas: HTML, CSS, Javascript e C#</p>
            <p class="conteudo">Frameworks utilizados: ASP Net Core e MVC </p>
          </div><!-- Projeto Bancário -->

          <div class="text-center col-md-6 ">
            <h4 class="estagio mb-5 mt-5">Projeto Séries</h4>
            <p class="conteudo">Desenvolvimento : Pessoal</p>
            <p class="conteudo">Onde encontro: GitHub</p>
            <p class="conteudo">Tecnologias utilizadas: HTML, CSS, Javascript e C#</p>
            <p class="conteudo">Frameworks utilizados: ASP Net Core e MVC </p>
          </div><!-- Projeto Séries -->

        </div><!--Row-texto-->
    </div><!--Container-left-->

    <div class="container-right">

      <app-perfil></app-perfil>

    </div><!--Container-right-->

  </div><!--Container-->

</div>
