<div class="main">

  <div class="container">
    <div class="container-left">

      <app-perfil class="mobile"></app-perfil>

        <div class="row justify-content-center">
          <div class="text-center col-md-12 mb-5 mt-5">
            <h2 class="title-sistemas">DESENVOLVEDOR DE SISTEMAS</h2>
          </div>

          <div class="text-center col-md-12 mt-5">
            <p class="conteudo">Bem-vindo ao Meu portfólio. Sou o Guilherme Matos tenho 20 anos, moro no litoral de São Paulo
              com meus pais e atualmente sou Estagiário de desenvolvimento de sistemas na Prefeitura de São Vicente.
              Sou apaixonado por soluções de problemas e raciocínio logico. Estou no mundo do desenvolvimento de sistemas
              a 2 anos e a cada dia me apaixono mais.
            </p>

          </div><!--Paragrafo-->

          <div class="text-center col-md-12 mt-5">
            <p class="conteudo">Sou uma pessoa muito comunicativa com facilidade em trabalhar em grupo
            </p>

          </div><!--Paragrafo-->

          <div class="text-center col-md-12 mt-5">
            <p class="conteudo">Procuro uma oportunidade para Desenvolvedor de Sistemas Júnior ou Algum estágio com oportunidade de
              ser contratado ao final do contrato.
            </p>

          </div><!--Paragrafo-->

        </div><!--Row-texto-->
    </div><!--Container-left-->

    <div class="container-right">

      <app-perfil></app-perfil>

    </div><!--Container-right-->

  </div><!--Container-->

</div>
